@import "./src/styles/variables";

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  //background-color: rgba(0, 0, 0, 0.75);
  color: rgba(255, 255, 255, 1);
  padding: 0 20px;
  margin-top: 10px;
}

.header-container > p {
  width: 100%;
  text-align: center;
}

.header-logo {
  margin: 0 10px;
  width: 150px;
}

:host ::ng-deep .p-submenu-list {
  left: -30px !important;
}

:host ::ng-deep .pi-angle-right:before {
  content: "\e931";
}