@import "./src/styles/variables";

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  //background-color: rgba(0, 0, 0, 0.75);
  color: rgba(255, 255, 255, 1);
  padding: 0 20px;
  margin-top: 10px;
}
.header-container > p {
  width: 100%;
  text-align: center;
}

.header-container ::ng-deep .p-button-icon {
  font-size:1.5em;
}

.header-container ::ng-deep .header-icon {
  font-size:0.9em;
  color: $color-black;
}

.margin-lateral-md {
  margin: 0 10px
}