@import "./variables";

/* You can add global styles to this file, and also import other style files */

* {
  line-height: normal;
  font-family: Arial, Helvetica, serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-white {
  color: $color-white !important;
}

.text-dark {
  color: $color-black !important;
}

.text-danger {
  color: $color-red;
  font-size: $font-size-small;
  padding: 5px 0;
}

.w-100 {
  width: 100% !important;
}

.text-bold {
  font-weight: 600;
}

.centered-container-h {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}