.product-item {
  .product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: 2rem;
    text-align: center;
    padding: 1rem 1rem;
  }
}
.container-image {
  margin: 0 15px;
}