<p-carousel
        [value]="products"
        [autoplayInterval]="6000"
        [circular]="true"
        [responsiveOptions]="responsiveOptions"
>
    <ng-template let-product pTemplate="item">

        <div class="product-item">
            <div class="product-item-content">
                <div>
                    <img [src]="product.images | imageSrcPipe" alt="image" style="height: 250px">
                    <h2 class="p-mb-1">{{product.description}}</h2>
                    <h3 class="p-mt-0 p-mb-3">${{product.price}}</h3>
                    <h3 class="p-mt-0 p-mb-3">Stock {{product.stock}}</h3>
                </div>
            </div>
        </div>

    </ng-template>
</p-carousel>